/*#37e445 = verde claro
#37b4e4 = azul claro
#318af6 = azul escuro
#33b606 = verde
#6b402f = marrom
#663300 = marrom escuro

50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25% 

 <p>Minecraft tem modos de jogo, sendo que os principais são o modo criativo e o modo de sobrevivência.</p>
<p> No modo criativo, os jogadores tem um estoque ilimitado de blocos prontos para usar em um mundo virtual com montanhas, cidades, pessoas e animais. O personagem do jogador nunca vai morrer e pode se mover livremente, até voar pelo mapa.</p>
<p>No modo de sobrevivência, as coisas se parecem mais com um game tradicional: é preciso coletar os recursos certos como madeira, pedra, metal, e assim por diante para construir ferramentas e se proteger, erguer um abrigo e uma fogueira por exemplo. O jogo tem um ciclo de dia e noite, que duram cerca de 20 minutos no mundo real.</p>*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior:smooth ;
}

body{
    background-color:#6b402f; 
}

header{
    background-color:#33b606 ;
    color:aliceblue ;
    padding: 15px 15px 15px 15px ;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000 ;  
}

nav ul{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

nav ul li{

    margin-left: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.logo{
    font-size: 2em;
    font-weight: bold;
}
.banner{
background:url(../img/imagenssobre/minecraft-banner-1.jpg) no-repeat center/cover;
flex-direction: column;
height: 400px;
display: flex ;
margin-top: 105px;
align-items: flex-start;
justify-content: center;
color: rgb(255, 255, 255);
font-size: large;
text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0),0 0 5px rgb(13, 255, 0);
text-align: left ;
padding-left: 20px;
}

section{
    scroll-margin-top: 100px;
}

#sobre{
    padding: 35px;
    background-color: #6b402f;
    color: #ffffff;
    text-shadow: #000000 5px 5px 5px;
}

.sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.sobre-texto{
    flex: 1;
    padding: 20px;

}
.sobre-texto h1{
    font-size: 1.5;
    margin-bottom: 20px;

}
.sobre-texto p{
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}
.sobre-texto h2{
    margin-top: 15px;
}
.sobre-texto a{
    color:#ffffff;
    text-shadow: 5px #55ff00;
    text-decoration: none;
}

.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex: 1;    
}

.hex{
    width: 140px;
    height: 140px;
    clip-path: polygon(50% 0%, 93% 21%, 93% 78%, 50% 99%, 7% 78%, 7% 21%) ;
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}


#oque .container{
    display: grid;
    grid-template-columns:repeat(auto-fix, minmax(50px,2fr));
    gap:20px;
    text-align: center;
    padding: 50px 0;
}





a:hover{
    color:rgb(0, 255, 0);
    text-shadow:  5px 5px 5px darkgreen;
}

.fonte{
font-size: 0.8em;
}

@media (max-width:675px){
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
    .banner{
        margin-top: 200px;
    }
}
